In [2]:
import mysql.connector

In [3]:
db = mysql.connector.connect(host="localhost", user="root", passwd="pusbangdisini26")

In [4]:
if db.is_connected():
    print("Connected")

Connected

In [5]:
cursor = db.cursor(buffered=True)

In [6]:
db_uas = mysql.connector.connect(host="localhost", user="root", passwd="pusbangdisini26", database="uas_basdat")

In [11]:
cursor= db_uas.cursor(buffered=True)
sql = """CREATE TABLE Data_Logistik (Logistic_id INT AUTO_INCREMENT PRIMARY KEY, Tanggal_Pengiriman DATE, Jenis_Pengiriman VARCHAR(50), Status VARCHAR (25), Jalur_Pengiriman VARCHAR(25), Jenis_Barang VARCHAR (25), Asal_Pengiriman VARCHAR(50), Tujuan_Pengiriman VARCHAR(50))"""
cursor.execute(sql)
print("Table customer sudah jadi")

Table customer sudah jadi

In [15]:
sql = "INSERT INTO Data_Logistik (Tanggal_Pengiriman, Jenis_Pengiriman, Status, Jalur_Pengiriman, Jenis_Barang, Asal_Pengiriman, Tujuan_Pengiriman) VALUES (%s, %s, %s, %s, %s, %s, %s)"
val = ("2022-06-09", "Kilat", "Kirim", "Darat", "Kertas", "Bandung", "Jakarta")

cursor.execute(sql, val)

db_uas.commit()

print("{} data berhasil dimasukkan".format(cursor.rowcount))

1 data berhasil dimasukkan

In [16]:
sql = "INSERT INTO Data_Logistik (Tanggal_Pengiriman, Jenis_Pengiriman, Status, Jalur_Pengiriman, Jenis_Barang, Asal_Pengiriman, Tujuan_Pengiriman) VALUES (%s, %s, %s, %s, %s, %s, %s)"

values = [("2022-06-09", "Reguler", "Kirim", "Darat", "Pensil", "Bandung", "Jakarta"), ("2022-06-09", "Kilat", "Belum Kirim", "Darat", "Buku", "Purwakarta", "Jakarta"), ("2022-06-09", "Reguler", "Belum Kirim", "Darat", "Laptop", "Purwakarta", "Jakarta")]

for val in values:
    cursor.execute(sql, val)
    db_uas.commit()

print("{} data berhasil dimasukkan".format(len(values)))

3 data berhasil dimasukkan